<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fourreau.itwapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".core.ItwApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".activity.AddInterviewActivity"
            android:label="@string/title_activity_add_interview"
            android:parentActivityName=".activity.HomeActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fourreau.itwapp.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.EditInterviewActivity"
            android:label="@string/title_activity_edit_interview"
            android:parentActivityName=".activity.InterviewActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fourreau.itwapp.activity.InterviewActivity" />
        </activity>
        <activity
            android:name=".activity.InterviewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_interview"
            android:parentActivityName=".activity.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fourreau.itwapp.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.ApplicantsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_applicants"
            android:parentActivityName=".activity.InterviewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fourreau.itwapp.activity.InterviewActivity" />
        </activity>
        <activity
            android:name=".activity.ApplicantDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_applicant_details"
            android:parentActivityName=".activity.ApplicantsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fourreau.itwapp.activity.ApplicantsActivity" />
        </activity>
        <activity
            android:name=".activity.AddApplicantActivity"
            android:label="@string/title_activity_add_applicant"
            android:parentActivityName=".activity.ApplicantsActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fourreau.itwapp.activity.ApplicantsActivity" />
        </activity>
        <activity
            android:name=".activity.ResponseVideoActivity"
            android:label="@string/title_activity_response_video"
            android:parentActivityName=".activity.ApplicantDetailsActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fourreau.itwapp.activity.ApplicantDetailsActivity" />
        </activity>
    </application>

</manifest>
